@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,500,700);
@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

header .block-welcome__title h1, header .nav__name {
  font-family: "Forum";
  font-weight: 400;
  line-height: 90px;
  font-size: 80px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #FFFFFF;
}

header .block-welcome__title button, header .block-welcome__title p {
  font-family: "Roboto";
  font-weight: 300;
  letter-spacing: 2px;
  color: #FFFFFF;
}

header {
  background-color: #030303;
}
header .nav {
  max-width: 1440px;
  margin: 0 auto;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .nav__img {
  width: 49px;
  height: 26px;
  margin: 0 10px 0 0;
}
header .nav__name {
  font-size: 28px;
  line-height: normal;
}
header .nav__menu {
  width: 53.82%;
  display: flex;
  justify-content: space-between;
}
header .nav__item {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 2px;
}
header .nav__item a {
  color: #FFFFFF;
}
header .block-welcome {
  max-width: 1440px;
  height: 750px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
header .block-welcome__title {
  position: absolute;
  z-index: 5;
}
header .block-welcome__title h1 {
  margin: 0 0 25px 0;
}
header .block-welcome__title p {
  font-size: 28px;
}
header .block-welcome__title button {
  width: 360px;
  height: 75px;
  border-radius: 10px;
  background-color: #710707;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 75px 0;
  font-size: 22px;
}
header .block-welcome__carusel {
  position: absolute;
  right: 0;
}