@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,500,700);
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');
@import "nullstyle.scss";

%title-style {
   font-family: 'Forum';
   font-weight: 400;
   line-height: 90px;
   font-size: 80px;
   letter-spacing: 5px;
   text-transform: uppercase;
   color: #FFFFFF;
}

%text-style1 {
   font-family: 'Roboto';
   font-weight: 300;
   letter-spacing: 2px;
   color: #FFFFFF;
}

%display-style {
   display: flex;
   justify-content: space-between;
   text-align: center;
}


header {
   background-color: #030303;

   .nav {
      max-width: 1440px;
      margin: 0 auto;
      height: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__img {
         width: 49px;
         height: 26px;
         margin: 0 10px 0 0;
      }

      &__name {
         @extend %title-style;
         font-size: 28px;
         line-height: normal;
      }

      &__menu {
         width: 53.82%;
         display: flex;
         justify-content: space-between;
      }

      &__item {
         font-family: 'Roboto';
         font-weight: 100;
         font-size: 22px;
         letter-spacing: 2px;

         a {
            color: #FFFFFF;
         }
      }
   }

   .block-welcome {
      max-width: 1440px;
      height: 810px;
      margin: 0 auto;
      // background: linear-gradient(to left, #ffffff00, #ffffff00, #000000 72%);
      // , url(../assets/img/header-img.jpg) right/contain no-repeat
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;

		&__title {
         position: absolute;
         z-index: 5;
       
         h1 {
            @extend %title-style;
            margin: 0 0 25px 0;
         }

         p {
            @extend %text-style1;
            font-size: 28px;
         }

         button {
            width: 360px;
            height: 75px;
            border-radius: 10px;
            background-color: #710707;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 75px 0;

            @extend %text-style1;
            font-size: 22px;
         }
		}

      &__carusel {
         position: absolute;
         z-index: 1;
         right: 0;
         bottom: 60px;
         
         .carusel {
            
            img {
               
            }
         }

      }

      .pagination {
         background-color: #030303;
         width: 41.667%;
         height: 120px;
         position: absolute;
         z-index: 4;
         right: 0;
         bottom: 0;
         display: flex;
         justify-content: space-evenly;
         align-items: center;

         &__numbers {
            width: 76px;
            @extend %display-style;
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 22px;
            text-transform: uppercase;
            color: #FFFFFF;

         }

         // &__numb {
         // }

         &__cubes {
            width: 180px;
            @extend %display-style;
         }

         &__item {
            width: 16px;
            height: 16px;
            background-color: #FFFFFF;
         }

         &__arrows {
            @extend %display-style;
            width: 70px;

            // img {
            //    width: 30px;
            // }
         }
      }
   }
}
